@layer reset, base, tokens, recipes, utilities;

:root {
  --global-font-body: var(--fonts-mono);
}

html {
  font-size: var(--font-sizes-xs);
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
}
